.bookList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    align-content: start;
}

.pagingContainer {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: baseline;
}